body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
  font-weight: 400;
  background-color: #D9EAFD;
}


#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 25px;
  background-color: #F8FAFC;
  gap: 20px; 
}

#moves-time-container {
  display: flex;
  gap: 10px;
}

#game-over {
    text-align: center;
    background-color: #ceddeb;
    border-radius: 5px;
    padding: 25px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-items: center;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #869baf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  transition: transform 0.3s, background-color 0.3s;
}

.card.flipped {
  background-color: #ff927e;
  transform: rotateY(180deg);
}

.hidden {
  display: none;
}
